<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hqu.elevatorManage.mapper.RegionMapper">

    <resultMap id="BaseResultMap" type="org.hqu.elevatorManage.domain.vo.RegionVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="regionId" column="region_id" jdbcType="VARCHAR"/>
        <result property="provinceId" column="province_id" jdbcType="VARCHAR"/>
        <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
        <result property="cityId" column="city_id" jdbcType="VARCHAR"/>
        <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
        <result property="districtId" column="district_id" jdbcType="VARCHAR"/>
        <result property="districtName" column="district_name" jdbcType="VARCHAR"/>
        <result property="townId" column="town_id" jdbcType="VARCHAR"/>
        <result property="townName" column="town_name" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="entityMap" type="org.hqu.elevatorManage.domain.entity.Region">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="regionId" column="region_id" jdbcType="VARCHAR"/>
        <result property="provinceId" column="province_id" jdbcType="VARCHAR"/>
        <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
        <result property="cityId" column="city_id" jdbcType="VARCHAR"/>
        <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
        <result property="districtId" column="district_id" jdbcType="VARCHAR"/>
        <result property="districtName" column="district_name" jdbcType="VARCHAR"/>
        <result property="townId" column="town_id" jdbcType="VARCHAR"/>
        <result property="townName" column="town_name" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, region_id, province_id, province_name, city_id, city_name, district_id, district_name, town_id, town_name        
    </sql>
    
    <select id="listRegions" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM region
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="regionId != null">
                AND region_id = #{regionId,jdbcType=VARCHAR}
            </if>
            <if test="provinceId != null">
                AND province_id = #{provinceId,jdbcType=VARCHAR}
            </if>
            <if test="provinceName != null">
                AND province_name = #{provinceName,jdbcType=VARCHAR}
            </if>
            <if test="cityId != null">
                AND city_id = #{cityId,jdbcType=VARCHAR}
            </if>
            <if test="cityName != null">
                AND city_name = #{cityName,jdbcType=VARCHAR}
            </if>
            <if test="districtId != null">
                AND district_id = #{districtId,jdbcType=VARCHAR}
            </if>
            <if test="districtName != null">
                AND district_name = #{districtName,jdbcType=VARCHAR}
            </if>
            <if test="townId != null">
                AND town_id = #{townId,jdbcType=VARCHAR}
            </if>
            <if test="townName != null">
                AND town_name = #{townName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="addRegion" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="regionId != null">region_id,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="provinceName != null">province_name,</if>
            <if test="cityId != null">city_id,</if>
            <if test="cityName != null">city_name,</if>
            <if test="districtId != null">district_id,</if>
            <if test="districtName != null">district_name,</if>
            <if test="townId != null">town_id,</if>
            <if test="townName != null">town_name,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="id != null">
               #{id,jdbcType=INTEGER},
           </if>
           <if test="regionId != null">
               #{regionId,jdbcType=VARCHAR},
           </if>
           <if test="provinceId != null">
               #{provinceId,jdbcType=VARCHAR},
           </if>
           <if test="provinceName != null">
               #{provinceName,jdbcType=VARCHAR},
           </if>
           <if test="cityId != null">
               #{cityId,jdbcType=VARCHAR},
           </if>
           <if test="cityName != null">
               #{cityName,jdbcType=VARCHAR},
           </if>
           <if test="districtId != null">
               #{districtId,jdbcType=VARCHAR},
           </if>
           <if test="districtName != null">
               #{districtName,jdbcType=VARCHAR},
           </if>
           <if test="townId != null">
               #{townId,jdbcType=VARCHAR},
           </if>
           <if test="townName != null">
               #{townName,jdbcType=VARCHAR},
           </if>
        </trim>
    </insert>

    <update id="updateRegion">
        UPDATE region
        <set>
            <if test="regionId != null and regionId != ''">
                region_id = #{regionId,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null and provinceId != ''">
                province_id = #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null and provinceName != ''">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null and cityId != ''">
                city_id = #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null and cityName != ''">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null and districtId != ''">
                district_id = #{districtId,jdbcType=VARCHAR},
            </if>
            <if test="districtName != null and districtName != ''">
                district_name = #{districtName,jdbcType=VARCHAR},
            </if>
            <if test="townId != null and townId != ''">
                town_id = #{townId,jdbcType=VARCHAR},
            </if>
            <if test="townName != null and townName != ''">
                town_name = #{townName,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteRegionById">
        DELETE
        FROM region
        WHERE region_id = #{id,jdbcType=VARCHAR}
    </delete>
    <select id="getRegionByTownId" resultMap="entityMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM region
        WHERE
        town_id = #{townId,jdbcType=VARCHAR}
    </select>
</mapper>

