<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hqu.elevatorManage.mapper.UnitMapper">

    <resultMap id="BaseResultMap" type="org.hqu.elevatorManage.domain.vo.UnitVO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="regionId" column="region_id" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="district" column="district" jdbcType="VARCHAR"/>
        <result property="street" column="street" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="lat" column="lat" jdbcType="VARCHAR"/>
        <result property="lng" column="lng" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, unit_id, name, region_id, province, city, district, street, address, lat, lng
    </sql>
    
    <select id="listUnits" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM unit
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="unitId != null">
                AND unit_id = #{unitId,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                AND name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="regionId != null">
                AND region_id = #{regionId,jdbcType=VARCHAR}
            </if>
            <if test="province != null">
                AND province = #{province,jdbcType=VARCHAR}
            </if>
            <if test="city != null">
                AND city = #{city,jdbcType=VARCHAR}
            </if>
            <if test="district != null">
                AND district = #{district,jdbcType=VARCHAR}
            </if>
            <if test="street != null">
                AND street = #{street,jdbcType=VARCHAR}
            </if>
            <if test="address != null">
                AND address = #{address,jdbcType=VARCHAR}
            </if>
            <if test="lat != null">
                AND lat = #{lat,jdbcType=VARCHAR}
            </if>
            <if test="lng != null">
                AND lng = #{lng,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="addUnit" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="unitId != null">unit_id,</if>
            <if test="name != null">name,</if>
            <if test="regionId != null">region_id,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="district != null">district,</if>
            <if test="street != null">street,</if>
            <if test="address != null">address,</if>
            <if test="lat != null">lat,</if>
            <if test="lng != null">lng,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="id != null">
               #{id,jdbcType=INTEGER},
           </if>
           <if test="unitId != null">
               #{unitId,jdbcType=VARCHAR},
           </if>
           <if test="name != null">
               #{name,jdbcType=VARCHAR},
           </if>
           <if test="regionId != null">
               #{regionId,jdbcType=VARCHAR},
           </if>
           <if test="province != null">
               #{province,jdbcType=VARCHAR},
           </if>
           <if test="city != null">
               #{city,jdbcType=VARCHAR},
           </if>
           <if test="district != null">
               #{district,jdbcType=VARCHAR},
           </if>
           <if test="street != null">
               #{street,jdbcType=VARCHAR},
           </if>
           <if test="address != null">
               #{address,jdbcType=VARCHAR},
           </if>
           <if test="lat != null">
               #{lat,jdbcType=VARCHAR},
           </if>
           <if test="lng != null">
               #{lng,jdbcType=VARCHAR},
           </if>
        </trim>
    </insert>

    <update id="updateUnit">
        UPDATE unit
        <set>
            <if test="unitId != null and unitId != ''">
                unit_id = #{unitId,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="regionId != null and regionId != ''">
                region_id = #{regionId,jdbcType=VARCHAR},
            </if>
            <if test="province != null and province != ''">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null and city != ''">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="district != null and district != ''">
                district = #{district,jdbcType=VARCHAR},
            </if>
            <if test="street != null and street != ''">
                street = #{street,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
                lng = #{lng,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteUnitById">
        DELETE
        FROM unit
        WHERE unit_id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>

